version: "3.9"

services:
  jobbie-0:
    image: jobbie/jobbie
    command: ["server", "--bind", ":8080", "--raft-bind", ":9400", "--node-id", "jobbie-0", "--bootstrap=true"]
    ports: ["8080:8080", "9400:9400"]
    volumes: ["jobbie-0-data:/data"]

  jobbie-1:
    image: jobbie/jobbie
    command: ["server", "--bind", ":8080", "--raft-bind", ":9400", "--node-id", "jobbie-1", "--bootstrap=false", "--join", "jobbie-0:8080"]
    ports: ["8081:8080", "9401:9400"]
    depends_on: [jobbie-0]
    volumes: ["jobbie-1-data:/data"]

  jobbie-2:
    image: jobbie/jobbie
    command: ["server", "--bind", ":8080", "--raft-bind", ":9400", "--node-id", "jobbie-2", "--bootstrap=false", "--join", "jobbie-0:8080"]
    ports: ["8082:8080", "9402:9400"]
    depends_on: [jobbie-0]
    volumes: ["jobbie-2-data:/data"]

  ingress:
    image: nginx:stable-alpine
    ports: ["18080:80"]
    depends_on: [jobbie-0, jobbie-1, jobbie-2]
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  jobbie-0-data:
  jobbie-1-data:
  jobbie-2-data:
